
*{
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #008080;
    height: calc(100vh);
    overflow:scroll;
}
button:hover {
    cursor: pointer;
}
#title {
    text-align: center;
    color: #fff;
    margin-top: 50px;
}
#welcome-message {
    text-align: center;
    color: #fff;
}
#game-feed {
    display: none;
    text-align: right;
    background-color: #fff;
    overflow: scroll;
    position: fixed;
    bottom: 40px;
    width: 100%;
    height: 100px;
    padding-top: 5px;
}
#game-feed div {
    margin-bottom: 7px;
    padding-right: 40px;
}
#game-feed p {
    margin: 4px 5px 7px 10px;
    display: inline;
}
#game-feed span {
    font-size: 10px;
    color: #6a6969;
    display: block;
}
#game-feed .timestamp {

}
#rps-buttons {
    display: none;
}
#rps-buttons button, #play-game-modal button {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 90px;
    height: 40px;
    border-radius: 6px;
    border: 2px solid #008080;
    background-color: #fff;
    color: #008080;
    font-size: 20px;

}
#play-game-modal button {
    width: 140px;
}
#watch-game {
    /* display: none; */
}
#winner-modal {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    color: #008080;
    font-size: 30px;
    border-radius: 0;
    padding: 25px 20px;
    text-align: center;
    margin: 0 auto;
    max-width: calc(100vw);
    background-color: #fff;
    
}
#winner-message {
    max-width: calc(80vw);
}
#leave-game {
    display: none;
    position: fixed;
    top: 1%;
    right: 1%;
    background: transparent;
}
#leave-game button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    font-size: 10px;
}
#signup-modal, #play-game-modal, #already-threw {
    display: none;
}
#signup-prompt {
    padding: 40px 28px;
}
#signup-modal form {
    width: 80%;
    border: 2px solid teal;
    margin: 0 auto;
}
.signup-form-wrapper {
    height: 35px;

}
#signup-modal form {
    height: 100%;
}
#signup-modal form input {
    height: 100%;
    border: 0;
    margin: 0;
    float: left;
}
input#signup-user {
    width: 69%;
    font-size: 16px;
    padding: 0 15px;
    text-align: center;
}
button#signup-button {
    width: 120px;
    padding: 0;
    width: 31%;
    background-color: teal;
    height: 100%;
    border: 0;
    float: right;
    color: #fff;
    font-size: 17px;
}

.new-game #game-feed p {
    /* opacity: 0; */
}
.player-waiting #game-feed p {
    opacity: 1;
}
#waiting-modal {
    display: none;
}
.player-waiting.active-player #waiting-modal {
    display: block;
}
.active-player #leave-game {
    display: block;
}
.active-player.live-game #rps-buttons,
.active-player #game-feed, .active-player.live-game #game-feed,
.spectator #game-feed {
    display: block;
}
.player-chosen.active-player.live-game #rps-buttons {
    display: none;
}
.spectator #rps-buttons,
.spectator .modal,
.spectator #leave-game {
    display: none!important;
}
.modal {
    width: 80%;
    text-align: center;
    margin: 0 auto;
    max-width: 500px;
    height: fit-content;
    background-color: #fff;
    border-radius: 0;
    padding: 25px 0;
    box-shadow: 6px 6px 18px 2px #ccc;
}
#chat-field {
    position: fixed;
    display: none;
    bottom: 0;
    width: 100%;
    height: 40px;
}
#chat-field button {
    width: 23%;
    background-color: teal;
    height: 103%;
    color: #fff;
    font-size: 20px;
    box-sizing: border-box;
    border: 0;
}
#chat-field input {
    width: 77%;
    margin: 0;
    padding: 0 20px;
    height: 100%;
    text-align: right;
    border: 0;
    box-sizing: border-box;
    font-size: 27px;
    border-top: 1px solid #ccc;
}
#chat-field input::placeholder {
    font-size: 15px;
}
#chat-field form {
    height: 100%;
}
.spectator #chat-field,
.active-player #chat-field,
.player-waiting.active-player #chat-field {
    display: block;
}
#game-status-wrapper {
    display: none;
}
.live-game.spectator #game-status-wrapper {
    display: block;
}